/*Bio*--------------------------------*/

.bio {
  position: relative;
  top: 400px;
  height: auto;
  min-height: 700px;
  background-color: gray;
  background: url(../images/bio-pic-2.jpg) no-repeat center fixed;
  background-size: cover;
}

.bio h2, .bio p {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

.bio p {
  vertical-align: middle;
  height: auto;
  width: 700px;
  margin: auto;
  padding: 100px;
  font-size: 11pt;
  float: right;
  color: black;
}

dt {
  font-size: 12pt;
  margin-top: 10px;
  font-family: 'Cinzel',serif;
}

dd {
  font-size: 10pt;
  font-family: 'Open Sans Condensed', sans-serif;
}

dt, dd {
  color: white;
  text-align: center;
}

dl {
  margin-top: 40px;
  margin-bottom: 40px;
}
