/*Contact*-----------------------------*/

.fade-away {
  position: relative;
  top: 400px;
  height: auto;
  background-color: white;
  min-height: 300px;
  width: 100%;
}
.contact {
  position: relative;
  top: 400px;
  height: 400px;
  min-height: 300px;
  background-color: white;
}

.contact-spacer {
  height: 40px;
  width: auto;
}

@media only screen and (min-width: 400px){
  .contact-spacer {
    height: 100px;
    width: auto;
  }
}

.contact img {
  display: block;
  margin: auto;
  width: 50px;
}

.contact figcaption {
  color: black;
}

figure {
  padding: 10px;
}

figcaption {
  padding: 5px;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10pt;

}

.contact h2 {
  color: white;
}
